Project:
  id: 'alert_sms_telegram'
  stg: 'local' #prd:正式區  dev:測試區  local:個人本地端
  idx: 'alert_sms_telegram_logs'
Check_friday:
  check_url: 'https://aaa.bbb.com/api'
  try_cnt: 3
  try_sleep: 30 # sec
Check_wednesday:
  check_url: 'https://aaa.bbb.com/api'
  CRON_DATETIME_THRESHOLD_SEC: 10  # Maximum allowed time difference in seconds
  MEM_AVAIL_THRESHOLD_PERCENT: 10.0  # Minimum allowed memory availability in percent
  try_cnt: 3
  try_sleep: 5 # sec
SMS:
  sms_cmd: 'curl -k -s -o /dev/null -X POST https://api.telegram.org/botXXX:YYY/sendMessage -d chat_id=ZZZ '
  # sms_cmd: 'curl -k -s -o /dev/null -X POST https://api.telegram.org/botXXX:YYY/sendMessage -d chat_id=ZZZ -d text="alert!text!"'

