Project:
  id: 'alert_sms'
  stg: 'local' #prd:正式區  dev:測試區  local:個人本地端
  idx: 'alert_sms_logs'
Check:
  getget_url: 'https://abc.com/api'
  getget_lines: 2 # from vm:0, from cloud:1
  try_cnt: 3
  try_sleep: 1 # sec
SMS:
  sms_cmd: 'curl -k -s -o /dev/null -X POST https://api.telegram.org/botXXX:YYY/sendMessage -d chat_id=ZZZ '

